.login-div {
    margin: auto;
    width: 35%;
    padding-top: 10%;
}

.login-card {
    background-color: bisque;
}

.login-signup-card {
    background-color: bisque;
}

.sign-up-button {
    float: right;
}