.home-div {
    margin: auto;
    width: 75%;
    padding-top: 1%;
}

.home-header {
    margin: auto;
    width: 50%;
    padding-top: 1%;
    text-align: center;
}

.home-card {
    background-color: azure;
}

.icon-style {
    font-size: 400%;
}