<div class="home-header">
    <h1>
        <b>SHIFTS</b>
    </h1>
</div>
<div class="home-div">
    <mat-card #loginCard>
        <mat-card-content class="home-card">
            <div class="pt-0 home-header">
                <b>Welcome {{userName}}</b>
            </div>

            <div class="container pt-5">
                <div class="row">
                    <div class="col-md-1">
                        <i class="bi bi-clock icon-style" title="Clock-In Hours"></i>
                    </div>
                    <div class="col-md-1 pt-3">
                        <h3 title="Clock-In Hours">3 hours</h3>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-1">
                        <i class="bi bi-cash-coin icon-style" title="Share Percentage"></i>
                    </div>
                    <div class="col-md-1 pt-3">
                        <h3 title="Share Percentage">55%</h3>
                    </div>
                </div>
                <div class="row pt-3" style="float: right;">
                    <button class="btn btn-primary">Record a payment</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>